@using IdentityAppCourse2022.ViewModels
@model LoginViewModel
       <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" method="post"
            role="form">
            <h4>Use a local account to log in.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-10">
                    <div class="custom-checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success form-control">Log in</button>
                </div>
            </div>
            <p>
                <a asp-action="Register"> Register as a new user?</a>
            </p>
            <p>
                <a asp-action="ForgotPassword"> Forgot your passowrd?</a>
            </p>
        </form>